menu "Melis Legacy Support"

config  MELIS_LEGACY_DRIVER_MAN
        bool "Support Melis Legacy Driver Management"
        select DEVFS
		default n

config  LEGACY_DMS_DEV
        bool "Support Melis Legacy DMS Device"
        depends on MELIS_LEGACY_DRIVER_MAN
        default n

config  LEGACY_HWSC_DEV
        bool "Support Melis Legacy HWSC Device"
        depends on MELIS_LEGACY_DRIVER_MAN
        default n

config  LEGACY_RAMDISK_DEV
        bool "Support Melis Legacy RAMDISK Device"
        depends on MELIS_LEGACY_DRIVER_MAN
        default n

config  LEGACY_HOTPLUG
        bool "Support Melis Legacy Hot Plug"
        depends on MELIS_LEGACY_DRIVER_MAN
        default n

config  MELIS_MODULE
        bool "Support melis module"
        select MELIS_VIRTUAL_FILESYSTEM
        default n
		
config  SUPPORT_TOUCHPANEL
        bool "Support touch panel"
		default n
if SUPPORT_TOUCHPANEL
		choice
			prompt "touch pannel select"
			default RTP
			help
			Select the Touch pannel to compile.
		config RTP_SECLET
			bool "RTP_seclettion"
		config CTP_SECLET
			bool "CTP_seclettion"
		endchoice
endif

config  SUPPORT_MOUSE
        bool "Support mouse"
        default n		
endmenu

