tags
toolchain
cscope.*
!readme.txt
.*
*.lo
*.la
*.Plo
*.Plo
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.swp
*.o
*.order
*.cmd

*.map
*.

projects/d1s-fpga-board/data/UDISK/apps/app_root.axf
projects/d1s-fpga-board/data/UDISK/apps/init.axf
livedesk/beetles/init/init.axf
livedesk/beetles/mod_desktop/desktop.mod
livedesk/beetles/sun20iw1_app/apps/app_root.axf

prebuilt/*.tar*
livedesk/beetles/sun20iw1_app/apps/app_root.elf
livedesk/beetles/mod_desktop/desktop.elf
livedesk/beetles/init_sd_product/init_sd_product.elf
livedesk/beetles/init_sd_product/init_sd_product.axf
emodules/mod_test/ftest.mod
emodules/mod_test/ftest.elf
emodules/fm/fm.drv
emodules/fm/fm.elf
emodules/mod_charset/charset.elf
emodules/mod_charset/charset.mod
emodules/mod_display/display.elf
emodules/mod_display/display.mod
emodules/mod_jpeg_dec/vcoder.elf
emodules/mod_jpeg_dec/vcoder.mod
emodules/mod_mixture/mixture.elf
emodules/mod_mixture/mixture.mod
emodules/mod_orange/orange.elf
emodules/mod_orange/orange.mod
ekernel/melis30.bin
ekernel/melis30.dis
ekernel/melis30.elf
elibrary/bin/libmediainfo.a
elibrary/bin/libmediainfo.a
elibrary/bin/3rd/adbd/libadbd.a
emodules/bin/init_sd_product.axf
emodules/bin/init.axf
include/generated/uapi/melis/version.h
livedesk/beetles/init/init.elf
projects/d1s-evb-board/epos.img
projects/d1s-evb-board/data/UDISK/apps/init_sd_product.axf
projects/d1s-evb-board/data/UDISK/apps/init.axf
projects/d1s-evb-board/data/UDISK/apps/init_sd_product.axf
