menuconfig COMPONENT_ENV
    bool "env support"
    default y
    help
      support read write uboot env
      If unsure, say Y.

if COMPONENT_ENV

    config COMPONENTS_ENV_SIZE
    int "Env Size (bytes)"
    default 4096
    help
        Size of env in bytes.

endif
