menu "Allwinner Components Support"

config KGDB
    bool "kgdb sutb"
    default y
    help
        The is kgdb stub program, which work as gdbserver.

config OTA_SUPPORT
    bool "ota support"
    default y
    help
        The is the ota suppot switch helper.

config BLKPART_SHOW_INFO_CMD
    bool "blkpart information cmd"
    default n
    help
        Show All partitions information

source "ekernel/subsys/aw/ota/Kconfig"
endmenu
