menuconfig USB
	bool "OS USB Dirver"
	depends on DRIVERS_USB
	default n

if USB
config DRIVER_USB_MANAGER
	bool "Support usb manager driver"
	depends on USB_MANAGER
	default y
	help
		usb0 support host and device, usb manager can switch usb0 in device and host mode.
		usb1 just support host mode.
		

menuconfig DRIVER_USB_HOST
	bool "Support usb host driver"
	depends on USB_HOST
	default n
if DRIVER_USB_HOST
config DRIVER_USB_HOST_0
	bool "Support usb host ehci0"
	depends on DRIVER_USB_HOST
	default n
	help 
		usb0 host and udc mode can't not both select at one time, except select usb manager
		support otg function.
config DRIVER_USB_HOST_1
	bool "Support usb host ehci1"
	depends on DRIVER_USB_HOST
	default n
endif

if DRIVER_USB_MANAGER || !DRIVER_USB_HOST_0
config DRIVER_USB_GADGET
	bool "Support usb gadget driver"
	depends on USB_DEVICE
	default n
if DRIVER_USB_GADGET
choice 
	prompt "usb gadget driver"
	default DRIVERS_USB_GADGET_ADB

config DRIVERS_USB_GADGET_ADB
	bool "adb gadget driver"
	select COMPONENT_ADBD

config DRIVERS_USB_GADGET_MTP
	bool "mtp gadget driver"
	select COMPONENT_MTP
endchoice
endif
endif
endif

