# Kconfig - general configuration options

#
# Copyright (c) 2014-2015 Wind River Systems, Inc.
# Copyright (c) 2016 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

menu "Drivers Setup"
	config  UART_BAUD_RATE
		int "uart baud rate"
		default 115200
		range 9600 115200
	menu "net drivers"
		menuconfig XRADIO
			default n
			bool "xradio driver"
		if XRADIO
		config XRADIO_CTRL
			bool "Enable xradio ctrl"
			help
				this will use xradio ctrl.
		choice CHIP
			default XR829
			prompt "Xradio chip"
			help
				Specify the xradio chip.
		config XR819
			bool "Enable xr819 driver"
			help
				this will use xr819 chip.
		config XR829
			bool "Enable xr829 driver"
			help
				this will use xr829 chip.
		endchoice
		config XR829_40M_FW
			bool "Use Firmware 40M for XR829"
			depends on XR829
			default y
			help
				this will use xr829 chip
		config XRADIO_ETF
			bool "Enable XRADIO ETF Mode"
			depends on XR829
			default n
			help
				this will enable etf mode
		endif

		config AP6203
			bool "brcm ap6203 wifi driver"
			select LWIP
			default n
	endmenu

if DRIVER_SDMMC
	config SUPPORT_SDMMC_CACHE
		bool "support sdmmc cache"
		default n
		help
			"Add Sdmmc Cache Layer For Write Small Files"

	config SDMMC_CACHE_SIZE
		int "sdmmc cache size (KB)"
		default 1024
		depends on SUPPORT_SDMMC_CACHE
		help
			"Configure Sdmmc Cache Heap Size"

	config SDMMC_CACHE_WRITEBACK_THREAD_PRIO
		int "sdmmc cache writeback thread priority"
		default 14
		depends on SUPPORT_SDMMC_CACHE
		help
			"Configure Sdmmc Cache Writeback Thread Priority"

	config SDMMC_CACHE_INFO_CMD
		bool "support sdmmc cache information command"
		default n
		depends on SUPPORT_SDMMC_CACHE
		help
			"Add Sdmmc Cache Information Command"
endif

	source "ekernel/drivers/hal/source/disp2/Kconfig"
#	source "ekernel/drivers/drv/legacy/Kconfig"
	source "ekernel/drivers/drv/source/Kconfig"

	menu "SoC HAL Drivers"
	source "ekernel/drivers/hal/source/common/Kconfig"
	source "ekernel/drivers/hal/source/ccmu/Kconfig"
	source "ekernel/drivers/hal/source/uart/Kconfig"
	source "ekernel/drivers/hal/source/regulator/Kconfig"
	source "ekernel/drivers/hal/source/rtc/Kconfig"
	source "ekernel/drivers/hal/source/spi/Kconfig"
	source "ekernel/drivers/hal/source/watchdog/Kconfig"
	source "ekernel/drivers/hal/source/gpio/Kconfig"
	source "ekernel/drivers/hal/source/spinor/Kconfig"
	source "ekernel/drivers/hal/source/timer/Kconfig"
	source "ekernel/drivers/hal/source/sdmmc/Kconfig"
	source "ekernel/drivers/hal/source/dma/Kconfig"
	source "ekernel/drivers/hal/source/sound/Kconfig"
	source "ekernel/drivers/hal/source/twi/Kconfig"
	source "ekernel/drivers/hal/source/pwm/Kconfig"
	source "ekernel/drivers/hal/source/gpadc/Kconfig"
	source "ekernel/drivers/hal/source/usb/Kconfig"
	source "ekernel/drivers/hal/source/g2d_rcq/Kconfig"
	source "ekernel/drivers/hal/source/thermal/Kconfig"
	source "ekernel/drivers/hal/source/ce/Kconfig"
	source "ekernel/drivers/hal/source/eise/Kconfig"
	source "ekernel/drivers/hal/source/lradc/Kconfig"
	source "ekernel/drivers/hal/source/ledc/Kconfig"
	source "ekernel/drivers/hal/source/ir/Kconfig"
	source "ekernel/drivers/hal/source/cir/Kconfig"
	source "ekernel/drivers/hal/source/tpadc/Kconfig"
	source "ekernel/drivers/hal/source/mbus/Kconfig"
	source "ekernel/drivers/hal/source/sunxi-di/Kconfig"
	source "ekernel/drivers/hal/source/msgbox/Kconfig"
	source "ekernel/drivers/hal/source/vin/Kconfig"
	endmenu

endmenu
