menu "USB Drivers"

config USB
	bool "enable USB Drivers"
	select DRIVERS_USB
	default n

config DRIVERS_USB
	bool
	default n

config USB_UDC
	bool
	default n

config HAL_TEST_USB
	bool
	default n

if USB
menuconfig USB_HOST
	bool "USB HOST"
	default n

if USB_HOST
config HAL_TEST_HCI
	bool
	select HAL_TEST_USB
	default n

config HAL_TEST_UVC
	bool
	default n

config USB_EHCI
	bool
	default n

config USB_OHCI
	bool
	default n

config USB_EHCI_0
	bool "Support usb host ehci0"
	select USB_EHCI
	select HAL_TEST_HCI
	default n

config USB_OHCI_0
	bool "Support usb host ohci0"
	select USB_OHCI
	select HAL_TEST_HCI
	default n

config USB_EHCI_1
	bool "Support usb host ehci1"
	select USB_EHCI
	select HAL_TEST_HCI
	default n

config USB_OHCI_1
	bool "Support usb host ohci1"
	select USB_OHCI
	select HAL_TEST_HCI
	default n

config USB_STORAGE
	bool "Mass Storage support"
	depends on USB_EHCI_0 || USB_EHCI_1 || USB_OHCI_0 || USB_OHCI_1
	default n

config USB_CARPLAY_HOST
	bool "Carplay host support"
	depends on USB_EHCI_0 || USB_EHCI_1 || USB_OHCI_0 || USB_OHCI_1
	default n

config USB_CAMERA
	bool "UVC support"
	depends on USB_EHCI_0 || USB_EHCI_1 || USB_OHCI_0 || USB_OHCI_1
	select HAL_TEST_UVC
	default n

config USB_HID
	bool "HID support"
	depends on USB_EHCI_0 || USB_EHCI_1 || USB_OHCI_0 || USB_OHCI_1
	default n
endif

menuconfig USB_DEVICE
	bool "USB DEVICE"
	select USB_UDC
	default n

if USB_DEVICE
config HAL_TEST_UDC
	bool
	select HAL_TEST_USB
	default n

config USB_GADGET
	bool "Support usb gadget driver"
	select HAL_TEST_UDC
	default n

if USB_GADGET
config COMPONENT_ADBD
	bool
	default n

config COMPONENTS_USB_GADGET_ADBD
	bool
	default n

config COMPONENT_MTP
	bool
	default n

choice
	prompt "usb gadget driver"
	default DRIVERS_USB_GADGET_ADB

	config DRIVERS_USB_GADGET_ADB
		bool "adb gadget driver"
		select COMPONENT_ADBD
		select COMPONENTS_USB_GADGET_ADBD

	config DRIVERS_USB_GADGET_MTP
		bool "mtp gadget driver"
		select COMPONENT_MTP
	
	config DRIVERS_USB_GADGET_NCM
		bool "ncm gadget driver"
		select COMPONENT_NCM
	
	config DRIVERS_USB_GADGET_MSC
		bool "msc gadget driver"
		select COMPONENT_MSC
	config DRIVERS_USB_GADGET_MSC_MAX_LUNS
		int	"Msc Gadget Max Luns"
		default 3
		depends on  DRIVERS_USB_GADGET_MSC
	config DRIVERS_USB_GADGET_MSC_MAPP_E_DISK
		bool "Msc Gadget Will Mapping E Disk"
		default y
		depends on  DRIVERS_USB_GADGET_MSC
endchoice
endif
endif

config USB_MANAGER
	bool "USB MANAGER"
	default n
	help
		usb0 support host and device, usb manager can switch usb0 in device and host mode.
		usb1 just support host mode.

endif

endmenu

